.logo {
  height: 40px;
}

.menuheader {
  font-size: 16px;
  color: #cccccc;
  background-color: #333333;
  vertical-align: bottom;
  min-height: 30px;
  padding-top: 3px;
}

.menuheaderright {
  text-align: right;
}
